/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #E5E5E5;
  /*border-top: thin solid #E5E5E5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

input {
  width:100%;
}

textarea {
  width:100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}


.navbar-inverse .navbar-brand {
  color:white;
  font-weight: 500;
}

.navbar{
  background-color: #383838;
}

.nav{
  text-align:center;
}

#copyright {
  margin: 20px 0;
  display: inline-block;
  color:#9d9d9d;
 } 

/*.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}*/

#contact {
  text-align: center;
  margin-top:11px;
  word-spacing:20px;
}

#contact i {
  font-size:25px;
}

#contact a {
  color:black;
}

#contact a:hover {
  color:white;
}

.resume {
  margin:auto;
  width: 80%;
  height: 100%;
  border-style: groove;
  border-width: 1px;
  box-sizing: border-box;
}
 
.email {
  margin:0 0 0 0;
}

.bubbles {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  padding:30% 10% 30% 10%;
  overflow: hidden;
}
 
.bubbles iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 220px;
}

.download {
  text-align: center;
  margin:5%;
}

.portfolio-item {
    margin-bottom: 25px;
}

/*.full {
  background: url(../img/beach.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

h1.home {
  font-family: 'Fjalla One', sans-serif;
  color:white;
  font-size: 4em;
}

h4.home {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 2em;
}

.links {
  word-spacing:20px;
}

.links a {
  color:white;
  text-decoration: none;
}

.links a:hover {
  color:#383838;
}

#merlin a{
  color:#2AF0FD;
  text-decoration: none;
}

#merlin a:hover{
  color:#383838;
}

.download button {
  width:25%;
}

#map1 {
  width:90%;
  height:100%;
  margin:auto;
  padding:1% 0 3% 0;
}

#map2 {
  display:none;
  width:90%;
  height:100%;
  margin:auto;
  padding:1% 0 3% 0;
}

#toggle {
  margin: 0 0 0 5%;
}

.circle {
  border-radius: 50%;
  width:300px;
  height:auto;
  display:block;
  margin:auto;
}

.places {
  text-align: center;
  margin:5%;
}

.about {
  margin: 5%;
}

.right {
  float:right;
  font-style: italic;
}

.right a {
  font-style: normal;
}

.col-md-4 > ul {
  margin: 0.5em 0 2em -1.5em;
}

.col-md-4 > h3 {
  color: #383838;
  margin-bottom: 1em;
}

.col-md-4 > h4 {
  color: black;
  margin-bottom: -0.8em;
  font-size: 1.2em;
  font-weight:bold;
}

.col-md-4 > ul > li > a {
  font-weight: 500;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1em;
  right: 0;
  height: 100%;
  width: 93%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.col-md-4 .overlay {
  opacity: .9;
}

.col-md-4:hover .overlay {
  opacity: .0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text h3 {
  color:black;
  font-weight: bold;
}

.img-responsive {
  width:100%;
  height:215px;
}

@media screen and (min-width: 980px) {
  .divider {
    height:4em;
  }
}

@media screen and (max-width: 980px) {
  .divider {
    margin-top: -1em;
  }
}

h4.writing {
  margin-bottom: 1em;
  font-weight:500;
}

img.logo {
  width:10em;
  height:100%;
  margin-bottom: 1em;
}

img.nyu {
  width:20em;
  height:100%;
  margin-bottom: 1em;
}

.onoffswitch {
    position: relative; width: 110px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Countries";
    padding-left: 10px;
    background-color: #337AB7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "States";
    padding-right: 10px;
    background-color: #C23445; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 76px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

