/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #383838;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
h4 {
  color:grey;
}

body > .container {
  padding: 60px 15px 0;
}

.navbar-inverse .navbar-brand {
  color:white;
}

.navbar{
  background-color: #383838;
}

#navbar{
  float:right;
}

#copyright {
  margin: 20px 0;
  display: inline-block;
  color:#9d9d9d;
 } 

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#contact {
  float:right;
  margin-top:20px;
  word-spacing:20px;
}

#contact a {
  color:white;
}

.resume {
  margin:auto;
  width: 80%;
  height: 100%;
  border-style: groove;
  border-width: 1px;
  box-sizing: border-box;
}

.email {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}
 
.email iframe {
  position: absolute;
  top:0;
  left: 0;
  padding:5% 10% 5% 10%;
  width: 100%;
  height: 100%;
}

.bubbles {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  padding:30% 10% 30% 10%;
  overflow: hidden;
}
 
.bubbles iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.download {
  text-align: center;
  margin:5%;
}

.portfolio-item {
    margin-bottom: 25px;
}
